@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');



*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid green; */
}
html{
    scroll-behavior: smooth; 
}
header{
    position:fixed;
    top:0;
    left:0;
    height:10vh;
    width:100%;
    padding:5px 50px;
    /* background:rgba(255, 222, 38, 0.759); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: white;

}
.logo{
    height:80px;
}


/* general button styles */
.btn{
    position: relative;
    background:transparent;
    color:rgb(125,38,38);
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
    cursor: pointer;
    transition:0.5s;
    padding:5px 10px;
    border: none;

    z-index: 1;
}
.btn::after{
    position: absolute;
    content: "";
    top: 0; bottom: 0; right: 0; 
    height: 100%; width: 0%;
    background: rgb(125,38,38);
    z-index: -1;
    transition: 0.3s ease-out;
}
.btn:hover::after{
    width: 100%;
    transition: 0.3s ease-out;
}
.btn:hover{
    color: white;
    transition: 0.2s 0.1s;
}
.fa-arrow-right{
    transition: 0.2s 0.1s;

}
.btn:hover .fa-arrow-right{
 scale:1.2;
 padding-left: 10px;
 transition: 0.2s 0.1s;

}

.btn-rtl{
    /* border-bottom: 1px solid rgb(125,38,38);
    border-top: 1px solid rgb(125,38,38); */
    border-right: 1px solid rgb(125,38,38);
}
.btn-ltr{
    /* border-bottom: 1px solid rgb(125,38,38);
    border-top: 1px solid rgb(125,38,38); */
    border-left: 1px solid rgb(125,38,38);
}
.btn-rtl::after{
    right: 0; 

}
.btn-ltr::after{
    left: 0; 

}



.nav-link{
    position: relative;
    font-size: 1.1rem;
    color: rgb(125,38,38);
    text-decoration: none;
    font-weight: 500;
    margin:1.1rem;
    padding:5px 0px 5px 10px;
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:rgb(125,38,38) ;
    transition: 0.3s ease-out;
    transform-origin: right;
}
.nav-link:hover::after{
    transform: scaleX(1);
}
#nav-button{
    margin-left:1.1rem;
    border: 1px solid rgb(125,38,38);
}

.hero{
    margin-top: 10vh;
}
.hero{
    height: 100vh;
    background-image: url(/asssets/images/header-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    display: flex;
}
.heading-container{
    width:95vw;
    display: flex;
}
.main-heading{
    padding: 10% 10%;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.877);


}
.heading{
    font-family: 'Vidaloka', serif;
    color:rgb(125,38,38);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0.8;
    padding: 20px;

}

.main-heading h1{
    font-size: 80px;
    padding: 20px;

}

.main-heading p{
    font-size: 15px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.795);
    padding-bottom:10px;
}

.main-heading-description{
    padding: 10px;

}
.decoration{

    width: 50vw;
    height: 100vh;
}
#about{
    transition: 1s ease-out;
    scroll-behavior: smooth;
    padding: 10vh;
    padding-top:11vh;
}
h2{
    font-size: 50px;
    text-align: center;


}

.poster{
    margin-left:auto;
    width:100%;
}

.feature{
    font-size: 12px;
    font-weight: 100;
    padding:20px;
    border-bottom: 1px solid rgb(125,38,38);
    text-align: justify;
}
.feature h3{
    text-align: center;
    font-size: 35px;
}